* {
    margin: 0%;
    padding: 0%;

    font-family: 'Cinzel', serif;
    text-decoration: none;
    list-style: none;
}

body {
    cursor: default;

}

@keyframes mover {
    0% {
        left: 0vw;
        top: 0.6vh;
    }

    100% {
        left: 100vw;
        top: 0.6vh;
    }
}

header {
    overflow: hidden;
    /* quita el scroll dle header*/
}

.top-bar {
    background: #F1F2F0;
    height: 4vh;
    width: 100vw;

}

#top-nav {
    color: #0D0D0D;
    position: relative;
    left: 5vw;
    top: 0.6vh;
    padding-right: 6vw;
    padding-left: 3vw;
    animation-name: mover;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    font-weight: bold;


}

.header-main ul li:hover {
    text-decoration: none;
    font-weight: bold;

    /* font-size: 1vw; */
}

/**************************************************/
.header-main {
    background-color: #A43440;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    box-sizing: border-box;
}

.logo {
    width: 17vw;
    padding: 1vw;
}

/* .header-main img {
    height: 15vh;
    width: auto;
    background-color: #A43440 ;
    
    box-sizing: border-box;
    padding: 1.3vw;
    margin-left: 2vw;

} */
.header-main ul {
    display: flex;
    gap: 2vw;
    padding-right: 2vw;


}

.header-main ul li a {
    color: #fff;
    font-size: 1.7vw;
}
.header-main ul li a.active,.header-main ul li a:hover {
    background: #d6d58e;
    padding: 0.1vw;
    border-radius: 2px;
    color: #000000;
    font-weight: bold;
}

/*************seccion galeria********************/
.card {
    display: flex;

    flex-direction: column;
    width: 15vw;
    height: auto;
    /* align-items:self-end;     */
    justify-content: space-around;



    padding: 1vw;
    background-color: #ffffff;
    border: 1.5px solid #1b1d1b1e;
    transition: transform 0.1s ease-in-out;

}

.card:hover {
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);


}

.simg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-bottom: 2vh;
    background-color: #d6d58e;
    padding: 2vw;

}

.img-class {
    width: 15vw;
    height: 30vh;
}



main {

    background-color: #f1f1e6;

}





/*-------------------------------------*/
/* BOTON WHATSSAP */
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/*-----------------------------------------------*/



.banner {
    background-image: url('../imagenes/2023_product-banner_women_fall_01-min.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-bottom: 2vh;

}

.banner2 {
    background-image: url('../imagenes/productosbanner/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 60vh;

    margin-bottom: 5vh;
    position: relative;

    animation-name: cambiar;
    animation-duration: 45s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes cambiar {
    0% {
        background-image: url('../imagenes/productosbanner/3.png');
        left: 0vw;
        top: 0vh;
    }

    20% {
        background-image: url('../imagenes/joya1.jpg');
        left: 0vw;
        top: 0vh;
        filter: grayscale(10%);
    }

    40% {
        background-image: url('../imagenes/productosbanner/5.png');
        left: 0vw;
        top: 0vh;
    }

    60% {
        background-image: url('../imagenes/pc1.jpg');
        left: 0vw;
        top: 0vh;
    }

    80% {
        background-image: url('../imagenes/productosbanner/1.png');
        left: 0vw;
        top: 0vh;
    }

    100% {
        background-image: url('../imagenes/productosbanner/2.png');
        left: 0vw;
        top: 0vh;
        filter: grayscale(10%);
    }
}

#categorias {
    margin-bottom: 5vw;
}

.categorias-list {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2vw;
    gap: 6vw;

}

.card-cat {
    width: 19.5vw;


}

#img-card {
    width: 19.5vw;
    height: 45vh;
    border-radius: 2px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
    /* similar al backgroun-position */
    object-fit: cover;
    object-position: 10% 50% 50% 10%
}

#img-card:hover {
    filter: grayscale(50%);
}

h3 {
    padding: 1.5vw;
    background-color: #ffffff;
    color: #000;
    position: absolute;
    top: -10vh;
    left: 2.5vw;
    width: 14vw;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3vw;

}

#card-h3-div {
    position: relative;

}

#ver-mas {
    padding: 1vw;
    background-color: #A43440;
    color: #fff;

    position: absolute;
    width: 9vw;
    text-align: center;

    left: 5vw;
    box-sizing: border-box;
    top: -3vh;
    border-radius: 0.3vw;

}

/**************************************************/
footer {
    background-color: #000000;
    display: flex;
    justify-content: space-around;



}

.f-s2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
    height: 46vh;

}

footer img {
    width: 8vw;
}

#f-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#redess {
    display: flex;
    justify-content: center;
    /* width:50vw;     */
    gap: 5vw;
}

#redesS {

    color: #ffffff;
    width: 1vw;
    font-size: 3vw;

}

.redes {

    color: #ffffff;
}

#navega-contacta-mediosP-envio,
#seguinos {
    color: #fff;
}

#f-nav {
    display: flex;
    flex-direction: column;
}

#f-s1-nav {
    color: #fff;
    /* text-decoration: none; */

}

#f-s1-nav:hover {
    text-decoration: underline;
    font-weight: bold;
}

#f-s3-i {
    width: 3vw;
    height: 4vh;

}

.f-s3 {
    width: 15vw;
    padding-top: 4vh;
    box-sizing: border-box;

}

.f-s1 {
    padding-top: 4vh;
    width: 15vw;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
}


/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************HEADER*************************/
    .top-bar {
        background: #F1F2F0;
        height: 5vh;
        width: 100vw;

    }

    .header-main ul li a {
        font-size: 2.3vw;
    }





}

@media screen and (max-width:767px) {

    /**********************header*****************************/
    .top-bar {
        display: none;
    }

    .header-main {
        background-color: #A43440;
        width: 100vw;

        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        align-items: center;
        gap: 0vw;
        box-sizing: border-box;

    }

    .logo {
        width: 50vw;
        padding: 1vw;
    }

    .header-main ul li a {
        color: #fff;
        font-size: 5vw;
    }

    .header-main ul {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding-right: 2vw;


    }




}

/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {
    /*********************main CATEGORIAS*************************/






}

@media screen and (max-width:767px) {

    /**********************MAIN CATEGORIAS*****************************/
 
    .categorias-list {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2vw;
        gap: 6vw;

    }

    .card-cat {
        width: 44vw;


    }

    .card-cat a {
        width: 44vw;
    }

    #img-card {
        width: 44vw;

    }

    #card-h3-div {
        position: relative;
        /* left: 25%; */

    }

    h3 {
        padding: 1.5vw;
        background-color: #ffffff;
        color: #000;
        position: absolute;
        top: -10vh;
        left: 0vw;
        width: 25vw;
        box-sizing: border-box;
        text-align: center;
        font-size: 2.5vw;

    }

    #ver-mas {
        width: 15vw;
        top: -4vh;

    }

 
}

/* **************************************************** */

@media screen and (min-width:767px) and (max-width:1023px) {
    /*********************main PROD DESTACADOS*************************/






}

@media screen and (max-width:767px) {

    /**********************MAIN PROD DESTACADOS*****************************/



    .simg {

        grid-template-columns: repeat(1, 1fr);

        padding: 2vw;
        gap: 2vw;

    }

    .card {
        display: flex;

        flex-direction: column;
        width: 60vw;
        height: auto;
        /* align-items:self-end;     */
        justify-content: space-around;



        padding: 5vw;
        background-color: #ffffff;
        border: 1.5px solid #1b1d1b1e;
        transition: transform 0.1s ease-in-out;


    }


    .img-class {
        width: 60vw;
        height: auto;
    }

    .desc h4 {
        font-size: 5vw;
    }

    .desc h5 {
        font-size: 5vw;
    }

    .desc h6 {
        font-size: 3vw;
    }


}

/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {
    /*********************main banner2*************************/






}

@media screen and (max-width:767px) {

    /**********************MAIN banner2*****************************/

    .banner2 {
        background-image: url('../imagenes/productosbanner/3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 40vh;

        margin-bottom: 5vh;
        position: relative;

        animation-name: cambiar;
        animation-duration: 45s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    }

    .banner {
        background-image: url('../imagenes/2023_product-banner_women_fall_01-min.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 25vh;
        /* margin-bottom: 2vh; */

    }

 


}
/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************footer*************************/
    
    footer img {
        width:9vw;
    }
    #redesS {

        color: #ffffff;
        width: 3vw;
        font-size: 4vw;
    
    }
    .f-s3 {
        width: 25vw;
           
    }
    #f-s3-i {
        width: 5vw;
        height: 4vh;
    
    }
}   

@media screen and (max-width:767px) {

    /**********************footer*****************************/
   
    
    footer img {
        width:19vw;
    }
    #redesS {

        color: #ffffff;
        width: 3vw;
        font-size:5vw;
    
    }
    .f-s3 {
        width: 25vw;
           
    }
    #f-s3-i {
        width: 7vw;
        height: 4vh;
    
    }


}