@font-face {
    font-family:"Cinzel";
    src: url('../fonts/Cinzel-Regular.ttf');
}
* {
    margin: 0%;
    padding: 0%;

    font-family: 'Cinzel', serif;
    
    list-style: none;
}

body {
    cursor: default;
}

@keyframes mover {
    0% {
        left: 0vw;
        top: 0.6vh;
    }

    100% {
        left: 100vw;
        top: 0.6vh;
    }
}

header {
    overflow: hidden;
    /* quita el scroll dle header*/
}

.top-bar {
    background: #F1F2F0;
    height: 4vh;
    width: 100vw;


}

#top-nav {
    color: #0D0D0D;
    position: relative;
    left: 5vw;
    top: 0.6vh;
    padding-right: 6vw;
    padding-left: 3vw;
    animation-name: mover;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    font-weight: bold;


}

.header-main ul li:hover {
    text-decoration: none;
    font-weight: bold;

    /* font-size: 1vw; */
}

/*************************************************/

.header-main {
    background-color: #A43440;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    box-sizing: border-box;

}

.logo {
    width: 17vw;
    padding: 1vw;
    height: auto;
}

/* .header-main img{
    height: auto;
    width: 17vw;
    background-color: #9FC131   ; ;
    box-sizing: border-box;
    padding: 1.3vw;
    margin-left:2vw;
    
} */
.header-main ul {
    display: flex;
    gap: 2vw;
    padding-right: 2vw;


}

.header-main ul li a {
    color: #fff;
    font-size: 1.7vw;
}
.header-main ul li a.active,.header-main ul li a:hover {
    background: #d6d58e;
    padding: 0.1vw;
    border-radius: 2px;
    color: #000000;
    font-weight: bold;
}

/*********************main************************/
.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    /* align-items:self-end;     */
    justify-content: space-between;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 1vw;
    background-color: #ffffff;
    border: 1.5px solid #1b1d1b1e;
    transition: transform 0.1s ease-in-out;

}

a img {
    width: 20vw;
    height: 45vh;
}

.card:hover {
    transform: scale(1.05);
}

.desc h5 {
    font-size: 3.5vw;
}



.s1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2vw
}

main {

    background-color: #f1f1e6;
    padding: 5vw;
}

a {
    color: #575754;
    text-decoration: none;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;


}

/*-------------------------------------*/
/* BOTON WHATSSAP */
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/*-----------------------------------------------*/
#s-principal {
    display: flex;
    gap: 3vw;
}

ul {
    list-style: none;
    /*quita lo * de las lista*/

    /************************************************************************/
} 
li:hover{
    text-decoration: underline;
    font-weight: bold;
}


/****************footer************/

footer {
    background-color: #000000;
    display: flex;
    justify-content: space-around;



}

.f-s2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
    height: 46vh;

}

footer img {
    width: 8vw;
}

#f-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#redess {
    display: flex;
    justify-content: center;
    /* width:50vw;     */
    gap: 5vw;
}

#redesS {

    color: #ffffff;
    width: 1vw;
    font-size: 3vw;

}

.redes {

    color: #ffffff;
}

#navega-contacta-mediosP-envio,
#seguinos {
    color: #fff;
}

#f-nav {
    display: flex;
    flex-direction: column;
}

#f-s1-nav {
    color: #fff;
    /* text-decoration: none; */

}

#f-s1-nav:hover {
    text-decoration: underline;
    font-weight: bold;
}

#f-s3-i {
    width: 3vw;
    height: 4vh;

}

.f-s3 {
    width: 15vw;
    padding-top: 4vh;
    box-sizing: border-box;

}

.f-s1 {
    padding-top: 4vh;
    width: 15vw;
}

hr {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************HEADER*************************/
    .top-bar {
        background: #F1F2F0;
        height: 5vh;
        width: 100vw;

    }

    .header-main ul li a {
        font-size: 2.3vw;
    }





}

@media screen and (max-width:767px) {

    /**********************header*****************************/
    .top-bar {
        display: none;
    }

    .header-main {
        background-color: #A43440;
        width: 100vw;

        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        align-items: center;
        gap: 0vw;
        box-sizing: border-box;

    }

    .logo {
        width: 50vw;
        padding: 1vw;
    }

    .header-main ul li a {
        color: #fff;
        font-size: 5vw;
    }

    .header-main ul {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding-right: 2vw;


    }




}

/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************main*************************/
    



}

@media screen and (max-width:767px) {

    /**********************main*****************************/
    #s-principal {
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    #s-principal  ul{
        display: flex;
        gap: 2vw;
        justify-content: center;
        text-align: center;
    }


}
/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************main productos*************************/
    .s1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
    }
    .card {
              
        width: 35vw;
        height: auto;  
    }
    a img {
        width: 35vw;
        height: 45vh;
    }



}

@media screen and (max-width:767px) {

    /**********************main producto*****************************/
   
    .s1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);       
      
    }
    .card {
              
        width: 70vw;
        height: auto;  
    }
    a img {
        width: 70vw;
        height: auto;
    }
    .desc h4{
        font-size: 3.5vw;
    }
    .desc h5{
        font-size: 5vw;
    }
    

}
/******************************************************/

@media screen and (min-width:767px) and (max-width:1023px) {

    /*********************footer*************************/
    
    footer img {
        width:9vw;
    }
    #redesS {

        color: #ffffff;
        width: 3vw;
        font-size: 4vw;
    
    }
    .f-s3 {
        width: 25vw;
           
    }
    #f-s3-i {
        width: 5vw;
        height: 4vh;
    
    }
}   

@media screen and (max-width:767px) {

    /**********************footer*****************************/
   
    
    footer img {
        width:19vw;
    }
    #redesS {

        color: #ffffff;
        width: 3vw;
        font-size:5vw;
    
    }
    .f-s3 {
        width: 25vw;
           
    }
    #f-s3-i {
        width: 7vw;
        height: 4vh;
    
    }


}